spring:
  application:
    name: producer
  zipkin:
    base-url: http://localhost:8089
  sleuth:
    sampler:
      percentage: 1.0
server:
  port: 8082
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/